* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: none;
}

body {
  font-family: Outfit;
  background-color: hsl(212, 45%, 89%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

section {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 8px 80px -16px hsla(218, 44%, 22%, 0.2)
}

.img-container {
  width: 18rem;
  aspect-ratio: 1;
}

.main-img {
  width: 18rem;
  border-radius: 1rem;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.4rem;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
  color: hsl(220, 15%, 55%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 400px) {
  section {
    width: 16rem;
  }

  .img-container {
    width: 14rem;
  }

  .main-img {
    width: 14rem;
  }

  .paragraph {
    padding: 0.4rem;
    gap: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: 0.6rem;
  }
}